extends layout


block content
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  script.
    $( window ).load(function() {
      //alert('who this');
      var shape = "circle";
      var pos = 0;
      
      var bmMeta = !{JSON.stringify(bm)};
      var data = !{JSON.stringify(traces)};
      
      var width = 75; 
      var height = 75;
      var nodes = d3.select("body").selectAll(".node").append("svg")
          // .data(t)
          .attr("width", width*2)
          .attr("height", height*2)
          .append(shape)
          .style("fill", "steelblue")
          .attr("cy", width)
          .attr("cx", width)
          .attr("r", width/2);
      alert(nodes);
      
      
      var update = function(pos) {
        var circles = d3.select("body").selectAll(shape)  
              .each(function(d,i) {
              
              
                if(i == 4) {
                  console.log(data[i][pos]);
                }
                d3.select(this).transition()
                    .delay(0)
                    .duration(750)
                    .attr("r", width*(data[i][pos]/100));
                
              });
      }
      
      
      var interval = 500;
      setInterval(function(){
                  update(pos);
                  pos++;
                 }, interval)
      });
  h1= title
  p Welcome to #{title}
  
   
  each benchmark in bm
    div(id=benchmark.name)
      h1 #{benchmark.name}
    
      each trace in benchmark.tracesMeta
        span(id=trace.name)
          h2 #{trace.name}:
          
          table
            tr
              each node in trace.nodes
                td(id=node.name).node
                  p #{node.name}

